@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;800&display=swap");

:root {
  --main-text-color: #3a454d;
  --menu-text-color: #a5abae;
  --font-family: "Rubik", sans-serif;
  --blue-background: #c2e0e5;
}

/* scrollbar Firefox */

html {
  scrollbar-width: thin;
  scrollbar-color: var(--menu-text-color) #ebebeb;
}

/* scrollbar rest browsers */

html::-webkit-scrollbar {
  width: 9px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--menu-text-color);
  border: 1px solid var(--menu-text-color);
  border-radius: 5px;
}

html::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

/* scrollbar ends */

.wave {
  position: absolute;
  top: 500px;
  left: 0;
  z-index: -1;
  max-width: 100%;
}

body {
  margin: 0;
  color: var(--main-text-color);
  font-family: var(--font-family);
  font-size: 19px;
  font-weight: 300;
}

a {
  text-decoration: none;
  color: var(--main-text-color);
}

#about {
  display: flex;
  gap: 8rem;
  align-items: center;
  padding: 0 12vw;
  padding-top: 5rem;
}

#about img {
  width: 370px;
  z-index: -2;
  transform: rotate(-2deg);
  user-select: none;
}

h1 {
  font-size: 100px;
  font-weight: 800;
}

h2 {
  margin-top: 0;
}

h3 {
  margin-bottom: 2rem;
  font-weight: 500;
}

h5 {
  font-size: 15px;
  font-weight: 500;
}

#projects {
  margin-top: 8rem;
  padding: 0 12vw;
}

#projects p {
  font-size: 18px;
}

#skillset ul {
  list-style-type: "\2713   ";
  line-height: 3rem;
}

#skillset {
  margin-top: 13rem;
  padding: 0 12vw;
  padding-bottom: 5rem;
  background: var(--blue-background);
}

#projects {
  padding: 0 12vw;
}

#projects article {
  display: flex;
  gap: 4rem;
  margin-bottom: 12vw;
}

#projects article:nth-of-type(odd) {
  flex-direction: row-reverse;
}

.projectImage img {
  width: 610px;
  padding: 2px;
  box-shadow: 0px 0px 15px 1px #aab2bd;
  box-sizing: border-box;
  user-select: none;
}

.projectIcons {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.projectIcons img {
  width: 25px;
  height: 25px;
}

.contactIcons {
  display: flex;
  gap: 2rem;
}

.contactIcons img {
  width: 60px;
  margin-bottom: 3rem;
}

.contactIcons img:hover {
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.tooltipText {
  visibility: hidden;
  width: 110px;
  margin-top: -2.5rem;
  background-color: #cce3eb;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 14px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltipText {
  visibility: visible;
}

#contact {
  padding: 0 12vw;
  padding-top: 1rem;
  background-color: #e5dceb;
}

footer p {
  text-align: center;
  font-size: 16px;
  padding: 1.3rem;
  padding-top: 8rem;
  background-color: #e5dceb;
  color: #ffffff;
  margin: 0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1450px) {
  #projects article {
    flex-direction: column-reverse;
    gap: 3rem;
  }

  #projects article:nth-of-type(odd) {
    flex-direction: column-reverse;
  }

  .projectImage img {
    width: 100%;
  }

  .projectIcons {
    margin-top: 2rem;
  }

  #projects article {
    gap: 0.7rem;
    margin-bottom: 6rem;
  }

  #about {
    padding-top: 7rem;
  }
}

@media screen and (max-width: 1000px) {
  .wave {
    top: 400px;
  }

  #about {
    flex-direction: column;
    gap: 0;
    padding-top: 5rem;
  }

  #about div {
    font-size: 18px;
    margin-top: -2rem;
  }

  #skillset {
    margin-top: 6rem;
    font-size: 18px;
    padding-bottom: 2rem;
  }

  #skillset ul {
    line-height: 2.5rem;
    padding-left: 1.5rem;
  }

  h1 {
    font-size: 60px;
  }

  #projects {
    margin-top: 5rem;
  }

  #projects article {
    margin-bottom: 4rem;
  }

  footer p {
    padding-top: 3rem;
  }
}

@media screen and (max-width: 600px) {
  #projects,
  #skillset {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
  }

  #about,
  #contact {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h3 {
    font-weight: 300;
    font-size: 20px;
  }

  .contactIcons img {
    margin-bottom: 2rem;
    width: 45px;
  }
}

@media screen and (max-width: 425px) {
  #projects article {
    margin-bottom: 3rem;
  }

  #about img {
    width: 230px;
  }

  .wave {
    top: 240px;
    height: 95vh;
  }

  #about div {
    margin-top: 0;
  }

  #projects,
  #about,
  #skillset,
  #contact {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 25px;
  }

  #contact p {
    font-size: 18px;
  }
}
